@keyframes motion-1 {
    0% {
        -webkit-transform: translate3d( 0, 0, 0 ), scale( 1 );
                transform: translate3d( 0, 0, 0 ), scale( 1 );
        opacity: 0.2;
    }
    25% {
        -webkit-transform: translate3d( 5%, 5%, 0), scale( 1.1 );
                transform: translate3d( 5%, 5%, 0), scale( 1.1 );
    }
    50% {
        -webkit-transform: translate3d( -5%, 5%, 0 ) scale( 1.2 );
                transform: translate3d( -5%, 5%, 0 ) scale( 1.2 );
        opacity: 0.1;
    }
    75% {
        -webkit-transform: translate3d( -5%, -5%, 0) scale( 1.1 );
                transform: translate3d( -5%, -5%, 0) scale( 1.1 );
    }
    100% {
        -webkit-transform: translate3d( 0, 0, 0 ) scale( 1 );
                transform: translate3d( 0, 0, 0 ) scale( 1 );
        opacity: 0.2;
    }
}

@keyframes motion-2 {
    0% {
        -webkit-transform: translate3d( 0, 0, 0 ), scale( 1 );
                transform: translate3d( 0, 0, 0 ), scale( 1 );
        opacity: 0.1;
    }
    20% {
        -webkit-transform: translate3d( 5%, 5%, 0), scale( 0.9 );
                transform: translate3d( 5%, 5%, 0), scale( 0.9 );
    }
    60% {
        -webkit-transform: translate3d( 5%, -5%, 0 ) scale( 0.8 );
                transform: translate3d( 5%, -5%, 0 ) scale( 0.8 );
        opacity: 0.2;
    }
    80% {
        -webkit-transform: translate3d( -5%, -5%, 0) scale( 0.9 );
                transform: translate3d( -5%, -5%, 0) scale( 0.9 );
    }
    100% {
        -webkit-transform: translate3d( 0, 0, 0 ) scale( 1 );
                transform: translate3d( 0, 0, 0 ) scale( 1 );
        opacity: 0.1;
    }
}
