/*----------------------------------------------------------------.
|                       General Styles                            |
`----------------------------------------------------------------*/

html,
body {
    width: 100%;
    height: 100%;
}

/*----------------------------------------------------------------.
|                             Pages                               |
`----------------------------------------------------------------*/

.full-page {
    width: 100%;
    height: 100%;
}

/*----------------------------------------------------------------.
|                           Background                            |
`----------------------------------------------------------------*/

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/bg.png);
    background-position: center;
    background-size: cover;
    z-index: -1000;
}
.circle {
    position: absolute;
    opacity: 0.2;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0 0 10px rgba(255, 255, 255, .4);
    -webkit-filter: blur( 10px );
            filter: blur( 10px );
}
.circle-hide-1,
.circle-hide-2 { display: hidden; }
.circle-1 {
    width: 200px; height: 200px; top: 10%; left: 10%;
    -webkit-animation: motion-1 10s infinite alternate-reverse;
            animation: motion-1 10s infinite alternate-reverse;
}
.circle-2 { 
    width: 100px; height: 100px; top: 30%; right: 10%;
    -webkit-animation: motion-1 10s infinite normal;
            animation: motion-1 10s infinite normal;
}
.circle-3{
    width: 150px; height: 150px; top: 40%; left: 30%;
    -webkit-animation: motion-2 10s infinite normal;
            animation: motion-2 10s infinite normal;
}
.circle-4 {
    width: 250px; height: 250px; bottom: 10%;  left: 10%;
    -webkit-animation: motion-1 10s infinite reverse;
            animation: motion-1 10s infinite reverse;
}
.circle-5 {
    width: 100px; height: 100px; bottom: 20%; right: 20%;
    -webkit-animation: motion-2 10s infinite reverse;
            animation: motion-2 10s infinite reverse;
}
@media all and (min-width: 700px) {
    .circle-hide-1 { display: block; }
    .circle-2 { width: 200px; height: 200px; top: 30%; right: 10%; }
    .circle-6 {
        width: 150px; height: 150px; bottom: 50%; right: 30%;
        -webkit-animation: motion-1 10s infinite alternate;
                animation: motion-1 10s infinite alternate;
    }
}
@media all and (min-width: 1000px) {
    .circle-hide-2 { display: block; }
    .circle-3 { width: 200px; height: 200px;    top: 40%;  left: 30%; }
    .circle-4 { width: 350px; height: 350px; bottom: 10%;  left: 10%; }
    .circle-5 { width: 300px; height: 300px; bottom: 10%; right: 20%; }
    .circle-7 {
        width: 200px; height: 200px; top: 10%; left: 35%;
        -webkit-animation: motion-2 10s infinite alternate;
                animation: motion-2 10s infinite alternate;
    }
}
@media all and (min-width: 1300px) {
    .circle-2 { width: 350px; height: 350px;    top: 20%; right: 10%; }
    .circle-3 { width: 300px; height: 300px;    top: 40%;  left: 30%; }
    .circle-4 { width: 400px; height: 400px; bottom: 10%;  left: 10%; }
    .circle-7 { width: 250px; height: 250px;    top: 10%;  left: 35%; }
}
